%h1 Witaj na stronie nasport.pl!

%h2 Ostatnio dodane eventy:

%table
  - @events.each do |event|
    %tr
      %td= link_to event.name, event_path(event)
      %td= event.place.name unless event.place.nil?
      %td= event.owner.email
      %td= join_or_resign_from_event_link(current_user, event)
