%h1 Witaj na stronie nasport.pl!

%h2 Ostatnio dodane eventy:

%table
  - @events.each do |event|
    %tr
      %td= link_to event.name, event_path(event)
      %td= event.place.name unless event.place.nil?
      %td= event.owner.nickname.nil? ? link_to(event.owner.email, user_profile_path(event.owner)) : link_to(event.owner.nickname, user_profile_path(event.owner))
      %td= join_or_resign_from_event_link(current_user, event)
