= form_for @event do |f|
  %p
    = f.error_messages
  .row
    .span5
      =render :partial=>'form_left_column', :locals=>{:f=>f}
    .span5
      =render :partial=>'form_right_column', :locals=>{:f=>f, :label=>label}
  

:javascript
  jQuery('.city_select').change(
    function () {
      $.ajax({
        url:'#{cities_path}/'+$('.city_select').val()+'/places', 
        dataType:'JSON', 
        success: function (data) {
          var options = '';
          
          for(var i=0; i<data.length; i++) {
            options += '<option value='+ data[i].id +'>'+ data[i].name +'</option>';
          }
          jQuery('select#event_place_id').html(options);
        }
      });
    }
  )
