- content_for(:black_box) do
  %h1
    Szukaj
    %br
    spotkania

.box
  %div 
    = form_tag search_events_path, :remote => true, 'data-type'=> :html, :method => :get, :id => 'search_form' do 
      = select(:city, :id, @cities.map { |city| [city.name, city.id]}, {:selected=>@cities.first.id}, :class=>'city_select')
      = select(:discipline, :id, @disciplines.map { |discipline| [discipline.name, discipline.id]}, {:selected=>@disciplines.first.id}, :class=>'discipline_select')
      = submit_tag 'Search', :class=>'btn', :style=>'position: relative; top: -5px;'
  
  #search_result

:javascript
  $(document).ready(function () {
    function on_ajax_success(evt, resp, status, xhr) {
      $('#search_result').html(resp);
    }

    $('#search_form').bind('ajax:success', on_ajax_success);
  });
