!!!
%html
  %head
  
  %body
    %h1
      Witaj 
      = @resource.email
      !

    %p
      Podtwierdzić konto i w serwisie NaSport.pl  klikając na link poniżej:

    %p
      = link_to 'Podtwierdzić moje konto w serwisie NaSport.pl', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)
